extends layout

block intro
  div#intro(class="talk-page")
    article(class="entry")
      h2 Ready?
      h3 http://jsdc.hinablue.me
      p via&nbsp;
        a(href="//about.me/hinablue") @閃光洽


block chat

block scripts
  script
    window.lighting_talk = 0;
  :coffeescript
    App = {}
    App.canvas = null
    App.initCanvas = ->
      App.canvas = $("#playground")[0].getContext('2d')
      App.canvas.fillStyle = "solid"
      App.canvas.strokeStyle = "rgb("+Math.ceil(Math.random()*255)+","+Math.ceil(Math.random()*255)+","+Math.ceil(Math.random()*255)+")"
      App.canvas.lineCap = "round"
      App.canvas.lineWidth = 5

    App.init = ->
      App.initCanvas()
      console.log App.canvas
      App.socket = io.connect(location.protocol+'//'+location.hostname+':3000')
      App.socket.on "draw", (data) ->
        App.draw(data.x, data.y, data.type)
      App.socket.on "slide", (data) ->
        $("#main").iphoneSlide "slide2page", data.page
      App.socket.on "message", (data) ->
        App.chat data.nickname, data.message

      App.chat = (nick, msg) ->
        messageholder = '<li><ul><li class="nickname"><span class="label label-white">'+nick+'</span>'
        messageholder += '<span class="label label-important">say</span></li>'
        messageholder += '<li class="message"><span class="label label-white">'+msg+'</span></li>'
        messageholder += '<li class="timestamp"><span class="label label-info">'+(new Date()).getHours()+':'+(new Date()).getMinutes()+'</span></li></ul></li>'
        $("#messages").append(messageholder)

        $("#chat").prop({ scrollTop: $("#chat").prop("scrollHeight") })

        nickname = null
        message = null
        messageholder = null
        return

      App.draw = (x, y, type) ->
        if type is "dragstart"
          App.canvas.beginPath()
          App.canvas.moveTo(x, y)
        else if type is "drag"
          App.canvas.lineTo(x, y)
          App.canvas.stroke()
        else
          App.canvas.save()
          App.canvas.strokeStyle = "rgb("+Math.ceil(Math.random()*255)+","+Math.ceil(Math.random()*255)+","+Math.ceil(Math.random()*255)+")"

      App.clear = (width, height) ->
        App.canvas.clearRect 0, 0, width, height
      return

    $("#playground").bind "drag dragstart dragend", (event) ->
      type = event.handleObj.type
      offset = $(@).offset()

      event.offsetX = event.pageX - offset.left
      event.offsetY = event.pageY - offset.top
      x = event.offsetX
      y = event.offsetY
      App.draw(x,y,type)
      App.socket.emit "drawClick", { x : x, y : y, type : type }
      return

    $ ->
      chat = no

      $("#main").css({
        top: ($(window).height() - 320)/2 - 30,
        left: ($(window).width() - 480)/2
      }).iphoneSlide {
        maxShiftPage: 1,
        handler: '#lighting_talk',
        pageHandler: '.talk-page',
        onShiftComplete: (e, p)->
          window.lighting_talk = parseInt($('#lighting_talk').css('left))
      }
      $("#chat").css {
        top: $("#header").height(),
        height: $("#footer").offset().top - $("#header").height()
      }
      $("#playground").prop {
        width: $(window).width(),
        height: $(window).height()
      }

      detectChat = ->
        if $(window).height() <= 480
          $('#main').css('top', $('#header').height())
        else
          $('#main').css('top', ($(window).height() - 320)/2 - 30)
        App.clear($(window).width(), $(window).height())
        App.initCanvas()

      $(window).bind 'orientationchange resize', (event)->
        $("#main").css {
          top: ($(window).height() - 320)/2 - 30,
          left: ($(window).width() - 480)/2
        }
        $('#lighting_talk').css('left', window.lighting_talk.toString()+'px')
        $("#chat").css {
          top: $("#header").height(),
          height: $("#footer").offset().top - $("#header").height()
        }
        $("#playground").prop {
          width: $(window).width(),
          height: $(window).height()
        }
        detectChat()

      App.init()
      detectChat()

      return
