div#startup(class="talk-page")
  article(class="entry")
    h2 jQuery
    h3 造輪子好好玩
    p via&nbsp;
      a(href="//about.me/hinablue") @閃光洽
div#why-you-want(class="talk-page")
  article(class="entry")
    h2 造什麼輪子
    h3 不外乎...
    p 爽，宅，自 HIGH，愛現，強迫症，造福社會，回饋鄉里，別人寫得很難用，自己刻比較快，作者區有我的簽名很帥，
      span(class="delete") 把妹
div#why-you-want-image(class="talk-page")
  article(class="entry")
    h2(class="stepText") $$$$$$
div#why-not-big-target(class="talk-page")
  article(class="entry")
    h2 造飛機
    h3 為什麼不造飛機
    p 造飛機，造飛機，
      span(class="delete") 墜到青草地
    p 蹲下去，蹲下去，
      span(class="delete") 我推你下去
div#why-not-big-target-image(class="talk-page")
  article(class="entry")
    h2(class="stepText") 飛機也是有輪子的
div#your-customer-want(class="talk-page")
  article(class="entry")
    h2 需求的輪子
    h3 客戶要的往往...
    p 需求的應對，有時候需要的不是輪子
    span(class="delete") 客戶網站需要有翻書的感覺，但我有種想要翻桌的感覺
div#your-customer-want-image(class="talk-page")
  article(class="entry")
    h2(class="stepText") 客戶想的...
div#your-customer-really-want-image(class="talk-page")
  article(class="entry")
    h2(class="stepText") 客戶要的...
div#others-tool(class="talk-page")
  article(class="entry")
    h2 別人的輪子
    h3 好輪子，不用嗎？
    p 有的時候不要堅持自己做一個
div#your-geek(class="talk-page")
  article(class="entry")
    h2 興趣的輪子
    h3 Just for FUN!
    p 興趣才是熱血的來源
div#your-geek-image(class="talk-page")
  article(class="entry")
    h2(class="stepText") 好內胎
div#my-geek(class="talk-page")
  article(class="entry")
    h2 我的輪子
    h3 jQuery iPhone slider
      h3
        a(href="https://github.com/hinablue/iphoneslide") fork me on github
div#jsdc-source(class="talk-page")
  article(class="entry")
    h2 投影片原始碼
    h3
      span(class="delete") 由於我是好人
      h3
        a(href="https://github.com/hinablue/jsdc2012")
          span(class="delete") dig me on github
div#qanda(class="talk-page")
  article(class="entry")
    h2 謝謝大家
    h2 Q&amp;A
div#references(class="talk-page")
  article(class="entry")
    h2 Reference
    p 圖片來源
    p
      a(href="http://www.flickr.com/photos/pinksherbet/242558967/") Pink Sherbet
      ,&nbsp;
      a(href="http://www.flickr.com/photos/einharch/5363018641/") Einharch
      ,&nbsp;
      a(href="http://www.flickr.com/photos/bill_chiang/5299798325/") B_C+ hiang
      ,&nbsp;
      a(href="http://www.flickr.com/photos/bike/3716316195/") Richard Masoner / Cyclelicious
      ,&nbsp;
      a(href="http://www.flickr.com/photos/martindew/5637391705/") Martin de Witte
